.App {
  text-align: center;
}

#container {
  margin: 64px;
}

#container div {
  margin-bottom: 8px;
}

label {
  width: 120px;
  display: inline-block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}